<nav>
    <a href="/users/admin/">Posts</a>
    <a href="/users/logout/">Logout</a>
</nav>
<h1>Create Post</h1>
<form name="create" method="POST" action="/posts/create">
<div>
     <label for="name">Post Title</label>
     <input type="text" name="PostTitle" required>
</div>
<div>
     <label for="name">Post Body</label>
     <input type="text" name="PostBody" required>
</div>
<div>
     <button type="submit">Submit</button>
</div>

</form>